<div class="container" ng-controller="AdminController as adminCtrl">
<div class="row" ng-init="adminCtrl.approvedUserList()">
        <div style="margin-top: 25px; margin-left: 25px">
            <h5>Manage All Users</h5>
        </div>
        <brs><br>

        <div style="margin-left: 25px; margin-bottom: 250px;">
            <table class="highlight centered responsive-table">
                <thead>
                <tr>
                    <th data-field="userId">User Id</th>
                    <th data-field="userName">Username</th>
                    <th data-field="name">Name</th>
                    <th data-field="role">Role</th>
                    <!--<th data-field="status">Options</th>-->
                </tr>
                </thead>

                <tbody>
                     <tr ng-repeat="users in adminCtrl.approvedUserList">
                        <td  width="10%">{{adminCtrl.user.userId}}</td> 
                        <td  width="10%">{{adminCtrl.user.userName}}</td>
                        <td  width="10%">{{adminCtrl.user.name}}</td>
                       
                        <td width="10%">
                            <!--{{users.role}}
                            <div>
                                <button data-target="role" class="btn">change</button>
                            </div>-->
                           
                            <div class="input-field col s12">
                                <select ng-model="user.role" ng-change="adminCtrl.changeUserRole(user)">
                                    <option value="User" >User</option>
                                    <option value="Admin">Admin</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>
</div>