<div  name="myProfile">
	<div class="container" ng-controller="UserController as ctrl">

                    Current User :  {{ctrl.currentUser.name}}
				
					<h3>My Profile</h3>

		<div class="container">
            <div class="custom-bg-inset">
                <div class="row">
                    <div class="col-md-12">
                       
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12"><h4>Name&nbsp;:&nbsp;{{ctrl.currentUser.name}}</h4></div>
                    <div class="col-md-12"><h4>Email&nbsp;:&nbsp;{{ctrl.currentUser.email}}</h4></div>
                    <div class="col-md-12"><h4>Mobile&nbsp;:&nbsp;{{ctrl.currentUser.phoneNo}}</h4></div>
                    <div class="col-md-12"><h4>Role&nbsp;:&nbsp;{{ctrl.currentUser.role}}</h4></div>
                    <div class="col-md-12"><h4>Password&nbsp;:&nbsp;{{ctrl.currentUser.password}}</h4></div>
                   <div class="col-md-12"><h4>Address&nbsp;:&nbsp;{{ctrl.currentUser.address}}</h4></div>
                
                     
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <a href="#!/update-user"  class="custom-btn btn">Edit Profile</a>
                        <a href="#!/" class="btn btn-link">BACK</a>
                       <!-- <a href="#/"ng-click="ctrl.delete()" class="custom-btn btn">Delete Account</a> -->
                    </div>
                    
                </div>
            </div>
        </div>


	</div>
	</div>
						
				

</body>