	<div class="container" >
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

		<form role="form" novalidate method="post" ng-submit="regCtrl.regis()" name="form" class="form-horizontal">
			<div class="panel panel-default" style="width: 600px">
			<div class="panel-heading">
				<span class="lead">User Registration Form </span>
				
			</div>
				<div class="container">
					<div class="row">
						<div class="form-group col-md-7">
							<label class="col-md-2 control-label" for="uname">Name</label>
							<div class="col-md-7">
								<input type="text" ng-model="regCtrl.user.name" id="name" class="username form-control input-sm" placeholder="Enter your name"
									required ng-minlength="3" />
							</div>
						</div>
					</div>


				<div class="row">
						<div class="form-group col-md-7">
							<label class="col-md-2 control-label" for="gender">Gender</label>
							<div class="col-md-7"> 
								<input type="radio"	name="gender" value="M" ng-model="regCtrl.user.gender">
									Male</input>
								<input type="radio" name="gender" value="F" ng-model="regCtrl.user.gender">
									Female</input>
							</div>
						</div>
					</div>  

				<div class="row">
						<div class="form-group col-md-7">
							<label class="col-md-2 control-label" for="uname">User Name</label>
							<div class="col-md-7">
								<input type="text" ng-model="regCtrl.user.userName" id="userName" class="userName form-control input-sm" placeholder="Enter your user name"
									required ng-minlength="3" />
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-7">
							<label class="col-md-2 control-label" for="password">Password</label>
							<div class="col-md-7">
								<input type="password" ng-model="regCtrl.user.password" id="password" class="username form-control input-sm" placeholder="Enter your password"
									required ng-minlength="3" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-7">
							<label class="col-md-2 control-label" for="confirmPassword">Confirm Password</label>
							<div class="col-md-7">
								<input type="password" ng-model="regCtrl.user.confirmPassword" id="confirmPassword" class="password form-control input-sm" placeholder="Confirm your password"
									required ng-minlength="3" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-7">
							<label class="col-md-2 control-label" for="email">Email</label>
							<div class="col-md-7">
								<input type="email" ng-model="regCtrl.user.email" id="email" class="email form-control input-sm" placeholder="Enter your Email"
									required />

							</div>
						</div>
					</div>

				<div class="row">
						<div class="form-group col-md-7">
							<label class="col-md-2 control-label" for="registerAs">Role:</label>
							<div class="col-md-7"> 
								<input type="radio"	name="role" value="admin" ng-model="regCtrl.user.role">
									Admin</input>
								
								<input type="radio" name="role" value="user" ng-model="regCtrl.user.role">
									User</input>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-7">
							<label class="col-md-2 control-label" for="mobilel">Phone no.</label>
							<div class="col-md-7">
								<input type="tel" ng-model="regCtrl.user.phoneNo" id="phoneNo" class="mobile form-control input-sm" placeholder="Enter your contact number"
									required />

							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-7">
							<label class="col-md-2 control-label" for="address">Address</label>
							<div class="col-md-7">
								<input type="text" width="100" height="50" ng-model="regCtrl.user.address" id="address" class="form-control input-sm" placeholder="Enter your Address."
								/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-7">
							<label class="col-md-2 control-label" for="city">City</label>
							<div class="col-md-7">
								<input type="text" width="100" height="50" ng-model="regCtrl.user.city" id="city" class="form-control input-sm" placeholder="Enter your city."/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-7">
							<label class="col-md-2 control-label" for="state">State</label>
							<div class="col-md-7">
								<input type="text" width="100" height="50" ng-model="regCtrl.user.state" id="state" class="form-control input-sm" placeholder="Enter your state."
								/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="buttonHolder">
							<input type="submit" value="register" class="btn btn-primary btn-sm">
							<button type="button" ng-click="regCtrl.reset()" class="btn btn-warning btn-sm" >Reset Form</button><b>After registeration u can login</b>
						</div>
					
					</div>
					</div>
				</div>
			</form>


			</div>
		</div>	
	</div>

</body>