<!DOCTYPE html>
<html lang="en" ng-app="collaborationApp">
<head>
    <meta charset="UTF-8">
    <title>eAngular</title>

    <!--Loading the bootstrap css -->
    <link href="./bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="./bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>

    <!--Loading stylesheet custom written-->
    <link href="./assets/css/app.css" rel="stylesheet"/>
    

    <!--Loading the bootstrap js along with its dependency -->
    <script src="./bower_components/jquery/dist/jquery.js"></script>      
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>    


    <!-- Load the angular library -->
    <script src="./bower_components/angular/angular.js"></script>
    <!-- Load the angular-route library -->
    <script src="./bower_components/angular-route/angular-route.js"></script>
    <!-- Load the angular-route library -->
    <script src="./bower_components/angular-cookies/angular-cookies.js"></script>


    <!-- Load the main module -->
    <script src="./app/app.module.js"></script>
    <!-- Load the routing details -->
    <script src="./app/app.route.js"></script>



    <!-- Load the Basic module -->
    <script src="./app/components/basic/BasicServices.js"></script>
    <script src="./app/components/basic/BasicController.js"></script>
    
    <!-- load the user module -->
    <script src="./app/components/user/userServices.js"></script>
    <script src="./app/components/user/userController.js"></script>

    <!-- Loading the authentication module -->
    <script src="./app/components/authenticate/authenticateServices.js"></script>
    <script src="./app/components/authenticate/authenticateController.js"></script>


</head>
<body ng-app="app">
  <div ng-if="authenticated">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#!/home">E-Allianz</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#!/home">Home</a></li>
            <li><a href="#!/register">Sign Up</a></li>
            <li><a href="#!/login">Sign In</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="main">
         <div ng-view></div>
    </div>
   
   <div ng-if="authenticated">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col l6 s6">
                    <a href="#!/about">
                        <h5 class="white-text">About Us</h5>
                    </a>
                    <p class="grey-text text-lighten-4"><i class="material-icons">computer</i> Online business.</p>
                </div>
                <div class="col l6 s6">
                    <a href="#!/contact">
                        <h5 class="white-text">Contact Us</h5>
                    </a>
                    <p><i class="material-icons">location</i> NIIT, Near Ghatkopar Stn., Ghatkopar(E), Mumbai.</p>
                    <p><i class="material-icons">email</i> bhavna@niit.com</p>
                    <p><i class="material-icons">phone</i> +0202 4202606</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">Copyright Are Reserved @ 2017</div>
        </div>
    </footer>
    <div>

</body>
</html>

 